@model Registrar.Models.Student

<h2>Are you sure you want to delete this student?</h2>

@using (Html.BeginForm())
{
  <button class="btn" type="submit">Delete student</button>
}

<p>@Html.ActionLink("Back to students", "Index")</p>